.link{
  cursor: pointer;
  color: blue;
  
}

.date{
  font-size: 10px;
}

.rating{
  color: white;
  background-color: white;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}